<div class="container">
  <div class="d-flex align-items-center p-2">
    <% if job.user.photo %>
      <%= image_tag job.user.photo, class: 'avatar mr-3' %>
    <% else %>
      <img
          class="avatar-large mr-3"
          src="https://avatars.abstractapi.com/v1/?api_key=6fc0780e90b04e089c32be386f5e0e24&name=<%= job.user.first_name.strip %>+<%= job.user.last_name.strip %>"
      />
    <% end %>
    <p class="text-left">Created <%= time_ago_in_words(job.created_at) %> ago by <%= job.user.first_name %>.</p>
  </div>

  <div class="text-left">
    <p><%= job.user.first_name %> needs help with <%= job.category.name %> on <%= job.due_date.strftime("%A, %b %d") %>.</p>
    <p><%= job.address %></p>
  </div>
</div>
