<div class="container">
  <div class="row">
    <h1>Job details</h1>
  </div>
  <div class="row">
    <div id="map"
         class=" rounded shadow"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="row">
    <div>
      <h2>Job listings</h2>
      <ul>
        <% @jobs.each do |job| %>
          <% if job.user.id != current_user.id %>
          <li> <%= job.id %> "<%= link_to job.title, job_path(job) %>" : <%= job.user.first_name %> needs help on <%= job.due_date %> </li>
          <% else%>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
