<div class="container">
  <div class="row">
    <h1>Job details</h1>
  </div>
  <div class="row">
    <div id="map"
         class=" rounded shadow"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
         data-search="true">
    </div>
  </div>

  <div class="row my-3">
    <div class="col col-sm-6 mx-auto">
        <%= form_tag jobs_path, method: :get do %>
        <%= collection_select(:job, :query, Category.all, :id, :name, html_options: { class: 'input-group mb-3' }) %>
        <%= submit_tag "Filter by category", class: "btn btn-outline-primary mt-2" %>
        <%= link_to "Reset filter", jobs_path, class: "btn btn-outline-danger mt-2" %>
        <% end %>
    </div>
  </div>

  <div class="container ">
    <div class="row">
      <div class="cards-product justify-content-center">
        <% @jobs.each do |job| %>

          <div class="card-product col-12 mx-3 my-3 ">
            <div class="card-product-info">
              <h2><%= link_to job.title, job_path(job) %></h2>
              <p>Help <%= job.user.first_name %> on <%= job.due_date.strftime("%A, %b %d") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
