<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 mx-auto form-login mb-5">
      <h2>Create a Job</h2>

      <%= simple_form_for [ @job ] do |f| %>
      <%=  f.input :title, input_html: { placeholder: "Give your job a catchy title." } %>
      <%=  f.input :description, input_html: { placeholder: "Give all the details about your job." } %>
      <%= f.association :category, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
      <%=  f.input :address, input_html: { placeholder: "Give your address." } %>
      <%=  f.input :due_date, as: :date, html5: true %>
      <%=  f.input :start_time, as: :integer, html5: true %>
      <%=  f.input :end_time, as: :integer, html5: true  %>
      <%= f.submit "Create a job", class: "btn btn-outline-primary" %>
      <% end %>
    </div>
    </div>
  </div>
</div>

