<div class="container">

  <div class="row justify-content-center my-5">
    <h1 class="mb-5 text-secondary">Here are some details about this Job!</h1>
    <%# <%= image_tag "job_info.png", class: 'info-image' %>
  </div>

  <div class="row mb-5">
    <div class="col d-flex flex-column justify-content-between">
      <div class="d-flex">
        <% if @job.user.photo %>
          <%= image_tag @job.user.photo, class: 'avatar-large mr-3' %>
        <% else %>
          <img
              class="avatar-large mr-3"
              src="https://avatars.abstractapi.com/v1/?api_key=<%= ENV['ABSTRACT_API_KEY'] %>&name=<%= @job.user.first_name.strip %>+<%= @job.user.last_name.strip %>"
          />
        <% end %>
        <div>Created <%= time_ago_in_words(@job.created_at) %> ago </br>by <%= @job.user.first_name %>.</div>
      </div>
      <div>
        <h3 class="mb-4"><%= @job.title %></h3>
        <p><%= @job.description %></p>
        <p>Due: in <%= time_ago_in_words(@job.due_date) %></p>
      </div>
      <div>
        <% if filter_jobs? == true %>
          <%= link_to "Volunteer for this job", job_quick_create_path(@job), method:'post', class: "btn btn-primary mr-1" %>
        <% end %>
        <%= link_to "Back to list of jobs", jobs_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
    <div class="col">
      <div id="map" class="shadow" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>

</div>

<% if @job.bookings.any? %>
    <div class="alert alert-warning alert-dismissable fade show">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>There are already others offering to volunteer for this task.</p>
      <p>You can still volunteer, but your generosity might not be necessary :)</p>
    </div>
  <% end %>
