<div class="container">

  <h2 class="mt-5">Information you might want to know</h2>
  <div class="row my-5 align-items-center">
    <div class="col-md-8">
      <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag 'open_map.png', class: 'w-100' %>
    </div>
  </div>

  <div class="row mb-3">
    <h3 class="ml-3">Here are some details about this Job!</h3>
  </div>
  <div class="row ml-3 algin-items-center mb-5">
    <div>
      <% if @job.user.photo %>
        <%= image_tag @job.user.photo, class: 'avatar-large mr-3' %>
      <% else %>
        <img
            class="avatar-large mr-3"
            src="https://avatars.abstractapi.com/v1/?api_key=6fc0780e90b04e089c32be386f5e0e24&name=<%= @job.user.first_name %>+<%= @job.user.last_name %>"
        />
      <% end %>
    </div>
        <div>Created <%= time_ago_in_words(@job.created_at) %> ago </br>by <%= @job.user.first_name %>.</div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div> Job id : <%= @job.id %>
        <p>Title : <%= @job.title %></p>
          <p>Description : <%= @job.description %></p>
          <p>Due: in <%= time_ago_in_words(@job.due_date) %></p>
      </div>
    </div>
  </div>

  <div class="row d-flex ml-1">
    <% if filter_jobs? == true %>
        <%= link_to "Volunteer for this job", job_quick_create_path(@job), method:'post', class: "btn btn-primary mb-2 mr-2" %>
        <%= link_to "Back to list of jobs", jobs_path, class: "btn btn-outline-secondary mb-2" %>
    <% end %>
  </div>

</div>

<% if @job.bookings.any? %>
    <div class="alert alert-warning alert-dismissable fade show">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>There are already others offering to volunteer for this task.</p>
      <p>You can still volunteer, but your generosity might not be necessary :)</p>
    </div>
  <% end %>
