<div class="container">

      <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>


<div class="row">
  <h3> Job details </h3>
</div>

<div class="row">
  <div> Job id : <%= @job.id %>
    <br>
    <%= @job.user.first_name %> needs help on <%= @job.due_date %>
    <br>
     Title : <%= @job.title %>
    <br>
    Description : <%= @job.description %></div>
</div>

<div class="row">
  <h3> Job status </h3>
</div>

 <div class="row">
    <% @job.bookings.each do |booking| %>
     <div class="card">
        <div class="card-body">
           <div class="card-title"> <%= booking.user.first_name %> has already volunteered  </div>
             Waiting for <%= @job.user.first_name%> to confirm
        </div>
     </div>
   <% end %>
  </div>

 <div class="row">
   <% if filter_jobs? == true %>
   <%= link_to "Volunteer for this job", job_quick_create_path(@job), method:'post', class: "btn btn-outline-secondary mb-2" %>
   <% else %>
   <% end %>
</div>

<%= link_to "Back to list of jobs", jobs_path, class: "btn btn-outline-secondary mb-2" %>
</div>
