<div class="container">

<div>
  <p>Map will go here</p>
</div>


<div class="row">
  <h3> Job details </h3>
</div>

<div class="container ">
  <div class="row">
    <div class="cards-product justify-content-center">
        <div class="card-product col-12 mx-3 my-3 ">
          <div class="card-product-info">
            Job id : <%= @job.id %>
            <br>
            Help <%= @job.user.first_name %> on <%= @job.due_date.strftime("%A, %b %d") %>
            <br>
            Title : <%= @job.title %>
            <br>
            Description : <%= @job.description %></div>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="row">
  <h3> Job status </h3>
</div>

 <div class="row">
    <% @job.bookings.each do |booking| %>
     <div class="card">
        <div class="card-body">
           <div class="card-title"> <%= booking.user.first_name %> has already volunteered  </div>
             Waiting for <%= @job.user.first_name%> to confirm
        </div>
     </div>
   <% end %>
  </div>
 
 <div class="row">
   <% if filter_jobs? == true %>
   <%= link_to "Volunteer for this job", job_quick_create_path(@job), method:'post', class: "btn btn-outline-secondary mb-2" %>
   <% else %>
   <% end %>  
</div>

<%= link_to "Back to list of jobs", jobs_path, class: "btn btn-outline-secondary mb-2" %>
</div>
