<div class="container">

  <div>
  <p>Map will go here</p>
  </div>

  <div class="d-flex" >
  <p> Job id number <%= @job.id %> : <%= @job.user.first_name %> needs help on <%= @job.due_date %>
  <br>
  Job description : <%= @job.description %></p>
  </div>
<p> There are currently pending bookings for this job:</p>
<% @job.bookings.each do |booking| %>
<p>Attempted booking id number <%= booking.id %> by volunteer <%= booking.user.first_name %></p>
<% end %>

<% if filter_jobs? == true %>
<%= link_to "Volunteer for this job", job_quick_create_path(@job), method:'post', class: "btn btn-outline-secondary mb-2" %>
<% else %>
<% end %>

<%= link_to "Back to list of jobs", jobs_path, class: "btn btn-outline-secondary mb-2" %>
</div>