<div class="container">

<% # This code section relates to the person shielding who has posted jobs %>

<% # Bookings not confirmed and not declined : These are the jobs for which the shielder has received bookings and that he/she should confirm %>

<% if any_received_booking_not_confirmed_and_not_declined? %>
  <div class="row">
    <h3> <%= current_user.first_name %>, can you confirm one of these offers from our volunteers to help you ?</h3>
  </div>
  <div class="row">
    <% @received_bookings.each do |booking| %>
      <% if !booking.confirmed && !booking.declined %>
        <div class="card">
          <div class="card-body">
            <div class="card-title"> <%= booking.user.first_name %> wants to help you </div>
            <%= link_to job_booking_path(booking.job.id, booking.id) do %>
              <button class="btn btn-outline-secondary mb-2">Choose <%= booking.user.first_name %></button>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<%end%>

<% # Bookings confirmed and not completed :These are the bookings that the shielder has confirmed but have not been completed by the volunteer %>

<% if any_received_booking_confirmed_not_completed?  %>
  <div class="row">
    <h3> <%= current_user.first_name %>, volunteers are coming to help you </h3>
  </div>
  <div class="row">
    <% @received_bookings.each do |booking| %>
      <% if booking.confirmed && !booking.completed %>
        <div class="card">
          <div class="card-body">
            <div class="card-title"> <%= booking.user.first_name %> is on the way </div>
            <%= link_to job_booking_path(booking.job.id, booking.id) do %>
              <button class="btn btn-outline-secondary mb-2"> Booking details</button>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% # Bookings completed : These are the bookings that the volunteer has completed %>

<% if any_received_booking_completed? %>
<div class="row">
    <h3> <%= current_user.first_name %>, these jobs have been completed by our volunteers </h3>
  </div>
   <div class="row">
    <% @received_bookings.each do |booking| %>
      <% if booking.completed %>
        <div class="card">
          <div class="card-body">
            <div class="card-title"> <%= booking.user.first_name %> has marked the job as complete </div>
            <%= link_to new_job_booking_review_path(booking.job.id, booking.id) do %>
              <button class="btn btn-outline-secondary mb-2">Review <%= booking.user.first_name %> </button>
            <% end %>
            <button class="btn btn-outline-secondary mb-2">Upload a receipt</button>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<%end%>

<h3> *********************** </h3>

<% # This code section relates to the person volunteering for jobs %>

<% # Bookings not confirmed and not declined : These are the jobs that the volunteer has booked and are awaiting confirmation %>

<% if @requested_bookings.any? %>
  <div class="row">
    <h3> <%= current_user.first_name %>, your offers to volunteer are awaiting confirmation </h3>
  </div>

  <div class="row">
    <% @requested_bookings.each do |booking| %>
      <% if !booking.confirmed %>
        <div class="card">
          <div class="card-body">
            <div class="card-title"> We are waiting for <%= booking.job.user.first_name %> to confirm  </div>
            <%= link_to job_path(booking.job.id) do %>
            <button class="btn btn-outline-secondary mb-2"> Job details</button>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<%end%>

<% # Bookings confirmed not completed : These are the bookings confirmed by shielders and that the volunteer must complete %>

<% if any_requested_booking_confirmed_not_completed? %>
  <div class="row">
    <h3> <%= current_user.first_name %>, your offers to volunteer have been confirmed </h3>
  </div>
  <div class="row">
    <% @requested_bookings.each do |booking| %>
      <% if booking.confirmed && !booking.completed %>
        <div class="card">
          <div class="card-body">
            <div class="card-title"> <%= booking.job.user.first_name %> is waiting for you </div>
            <%= link_to job_path(booking.job.id) do %>
            <button class="btn btn-outline-secondary mb-2"> Job details</button>
            <% end %>
           <%= link_to job_booking_path(booking.job.id, booking.id) do %>
              <button class="btn btn-outline-secondary mb-2"> Booking details</button>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<%end%>

<% # Bookings completed : These are the bookings completed by the volunteer %>

<% if any_requested_booking_completed? %>
  <div class="row">
    <h3> <%= current_user.first_name %>, thank you for helping !! </h3>
  </div>

  <div class="row">
    <% @requested_bookings.each do |booking| %>
      <% if booking.completed %>
        <div class="card">
          <div class="card-body">
            <div class="card-title"> Thank you for helping <%= booking.job.user.first_name %>  !! </div>
            <%= link_to  new_job_booking_review_path(booking.job.id, booking.id) do %>
              <button class="btn btn-outline-secondary mb-2">Review <%= booking.job.user.first_name %></button>
            <% end %>
            <% if booking.invoice.nil? %>
              <%= link_to 'Upload a receipt', edit_booking_path(booking), class: "btn btn-outline-secondary mb-2" %>
            <% else %>
            <span>invoice uploaded</span>
            <% end %>

            <!-- <button class="btn btn-outline-secondary mb-2">Upload a receipt</button> -->

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<%end%>

</div>
