<div class="container">
  <p> Hello </p>

  <div>
    <p>Map will go here</p>
  </div>

  <div class="d-flex">
    <p><%= @booking.confirmed %></p>
    <p><%= @booking.completed %></p>
  </div>


  <% if @booking.completed == false %>
    <%= link_to complete_booking_path(@booking), method: 'PATCH' do %>
      <button class="btn btn-primary">Compelte</button>
    <% end %>
  <% else %>
    <p>You've completed this job!</p>
  <% end %>

<%# <%= link_to "Review your job", new_job_booking_review_path, class: "btn btn-outline-secondary mb-2" %>
<%= link_to "Back to bookings", bookings_path(@bookings), method:'get', class: "btn btn-outline-secondary mb-2" %>
</div>


