<div class="container">
  <h1 id="header" class="my-5">Details about your booking with <%= @booking.job.user.first_name %></h1>
    <div class="row">
      <div class="col col-md-8">
      <% if @booking.user == current_user %>
      <div id="map" class="shadow" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-route="true">
      </div>
    </div>
    <div class="col col-md-4 relative">
      <div class="turn-by-turn p-4">
        <div id="estimation"></div>
        <div>
          <ul id="directions" class="text-secondary"></ul>
        </div>
      </div>
    </div>
    <% else %>
    <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <% end %>
  </div>

    <div class="row pt-4">
      <div class="col col-md-8">
        <%= render partial: "chatroom" %>
      </div>
      <div class="col col-md-4 text-secondary">
        <div class="p-3">
        <h3>Booking details:</h3>
        <p>Booking ID: <%= @booking.id %></p>
        <div class="my-3 d-flex align-items-center">
          <div>
          <% if @booking.job.user.photo %>
            <%= image_tag @booking.job.user.photo, class: 'avatar-large mr-3' %>
          <% else %>
            <img
                class="avatar-large mr-3"
                src="https://avatars.abstractapi.com/v1/?api_key=<%= ENV['ABSTRACT_API_KEY'] %>&name=<%= @booking.job.user.first_name %>+<%= @booking.job.user.last_name %>"
            />
          <% end %>
          </div>
          <div>
            <p>Created <%= time_ago_in_words(@booking.job.created_at) %> ago </br>by <%= @booking.job.user.first_name %>.</p>
          </div>
        </div>
        <div class="mb-4">
          <h5>Description:</h5>
          <p><%= @booking.job.description %></p>
        </div>
        <div>
          <h5>Status:</h5>
          <p><% if !@booking.confirmed %></p>
          <p>This booking has not been confirmed</p>
          <% elsif @booking.confirmed && !@booking.completed %>
            <p>This booking has been confirmed but not been completed</p>
          <% elsif @booking.completed %>
            This booking has been completed</p>
          <% end %>
        </div>
        <% if current_user.id == @booking.job.user_id && !@booking.confirmed %>
          <div class="row">
            <%= link_to confirm_booking_path(@booking), method: 'PATCH' do %>
              <button class="btn btn-outline-primary ml-3">Confirm this booking</button>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>

  <% # if booking is accessed by shielder : if the booking has no been confirmed, shielder can confirm %>

  <% # if booking is accessed by volunteer : if the job has been completed, volunteer can mark as complete %>

  <div class="row ml-1">
    <% if current_user.id == @booking.user_id && @booking.confirmed && !@booking.completed %>
      <%# <div class="row"> %>
        <%= link_to complete_booking_path(@booking), method: 'PATCH' do %>
        <button class="btn btn-primary mb-2">Complete job</button>
        <% end %>
      <%# </div> %>
    <% end %>
    <%= link_to "Back to bookings", bookings_path(@bookings), method:'get', class: "btn btn-outline-secondary mb-2 ml-2" %>
    <%# <%= link_to "Review your job", new_job_booking_review_path, class: "btn btn-outline-secondary mb-2" %>
    </div>
  </div>
</div>
