<div class="light text-black justify-content-center overflow-hidden sticky-bottom">

  <div class="row">
    <div class="col">
      <p class="text-center pt-3">
        <%= link_to "Home", root_path, class:"text-reset text-monospace text-danger" %>
         | 
        <%= link_to "About us", about_path, class:"text-reset text-monospace text-danger" %>
         | 
        <%= link_to "Privacy & Cookies", privacy_path, class:"text-reset text-monospace text-danger" %>
         | 
        <%= link_to "Accessibility", accessibility_path, class:"text-reset text-monospace text-danger" %>
         | 
        <%= link_to "Modern Slavery Statement", statement_path, class:"text-reset text-monospace text-danger" %>
         |
        © 2020
      </p>
    </div>
  </div>

</div>
