<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo_transparent.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <%= link_to "Home", root_path, class: "nav-link" %>
        <%= link_to "Jobs", jobs_path, class: "nav-link" %>
        <%= link_to "My bookings", bookings_path, class: "nav-link" %>
        <%= link_to "Messages", "#", class: "nav-link" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <%= link_to 'Register', new_user_registration_path, class: "dropdown-item" %>
      <% end %>
    </ul>
  </div>
</div>
