<div class="jumbotron" style="background-image: url(/assets/images/living-room-scene.png)">
  <div class="row">
  <div class="col-md-3">
    <%= image_tag 'logo_transparent.png', class: "w-100" %>
  </div>
  <div class="col-md-9 flex-column">
    <h1 class="text-secondary"><b>Empowering individuals to help one another during times of crisis.</b></h1>
    <hr class="my-4">
    <%= link_to "I want to volunteer", jobs_path, class: "btn btn-primary btn-lg shadow"%>
    <%= link_to "Get help today", new_job_path, class: "btn btn-outline-secondary btn-lg shadow" %>
  </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center mt-5">No-one should feel alone or struggle with basic tasks. </h1>
  <div class="row align-items-center">
    <div class="col-md-6">
      <%= image_tag "food.png", class: "w-70 p-5" %>
    </div>
    <div class= "text-secondary col-md-6">
      <h5>Let’s fix the growing care gap by helping with the simple stuff. Together we can <b style="color: #4F62AE;">renew and regenerate our communities </b> to create a better Britain from the crisis. We are committed to helping the <b style="color: #4F62AE;">thousands</b> of people that are the <b style="color: #4F62AE;"> heart of our communities</b> </h5>
    </div>
  </div>


  <h2 class="text-center mt-5">A new generation of volunteers.</h1>
  <div class="row align-items-center">
    <div class="class= text-secondary col-md-6">
      <h5>We aim to make volunteering <b style="color: #4F62AE;">simple</b>. On your terms and to <b style="color: #4F62AE;">fit your schedule</b>.
      We’ll carry out <b style="color: #4F62AE;">safety</b> checks for you which are valid for a year and show you volunteering opportunities that are nearby.</h5>
    </div>
    <div class="col-md-6">
      <%= image_tag "navigation.png", class: "w-100 p-5" %>
    </div>
  </div>

<div class="container">
  <h2 class="text-center mt-5"> Increase productivity during lockdown by helping people in a way that matters.</h1>
  <div class="row align-items-center">
    <div class="text-secondary col-md-6">
      <h5>Increase your <b style="color: #4F62AE;">time management skills</b>. It takes effort to rearrange schedules from leisure and family activities to make time for others. Volunteering will help you become flexible and <b style="color: #4F62AE;">learn to prioritize your time and what you value.</b></h5>
    </div>
    <div class="col-md-6">
      <%= image_tag "reminder_note.png", class: "w-100" %>
    </div>
  </div>


</div>


